{% extends 'app1/base.html' %}
{% load static %}

    {% block title %}profile{% endblock title %}


{% block content %}
        <!-- Container start! -->
        <div class="container mt-3">
            <div class="row justify-content-center text-center">
                <div class="mt-5">
                    <h3>Are you sure? You want to delete your account!</h3>
                    <a href="{% url 'delete' request.user.email %}" class="btn btn-danger btn-sm">Delete</a>
                    <a href="{% url 'home' %}" class="btn btn-outline-danger btn-sm">Cancel</a>
                </div>
            </div>
        </div>
        <!-- Container End! -->
{% endblock content %}


