<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login form</title>
    <style>
        .myUserName{
            color:red;
            background-color:yellow;
        }
        .myPassword{
            color:white;
            background-color:blue;
        }
    </style>
</head>
<body>
    <h1>LogIn User</h1>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for fm in form %}
            <div>
                {{fm.label_tag}} {{fm}} <small>{{fm.errors|striptags}}</small>
            </div><br>
        {% endfor %}
        <input type="submit" value="LogIn">
        {% if form.non_field_errors %}
            {% for error in form.non_field_errors %}
                <p>{{error}}</p>
            {% endfor %}
        {% endif %}
    </form><br>
    <a href="{% url 'home' %}">Back Home</a> <br><br>
    {% comment %} <a href="{% url 'resetpassword' %}">Reset Password</a> {% endcomment %}
</body>
</html>