{% load static %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'app1/css/bootstrap.min.css' %}">
    <title>User Form</title>
</head>

<body>
    <div class="container mt-3">
        <h1 class="bg-info text-center p-3">User Registrations Form</h1>
        <div class="row justify-content-center">
            <div class="col-md-8 mt-3 shadow p-3">
                <form action="" method="POST" novalidate>
                    {% csrf_token %}
                    {{form.as_p}}
                    <button type="submit" class="btn btn-primary mt-2">Submit</button>
                    <a href="http://" target="_blank" class="btn btn-danger mt-2" rel="noopener noreferrer">Cancel</a>
                </form>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->
    <script src="{% static 'app1/js/jquery.js' %}"></script>
    <script src="{% static 'app1/js/popper.js' %}"></script>
    <script src="{% static 'app1/js/bootstrap.min.js' %}"></script>
</body>
</html>