<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Registrations Form</title>
</head>
<body>
    <form action="" method="post" novalidate>
        {% csrf_token %}
        {% for fm in form %}
            {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
        {% endfor %}
        <input type="checkbox" onclick="myFunction()">Show Password <br><br>
        <input type="submit" value="Submit">
    </form><br><br>
    {% if messages %}
        {% for message in messages %}
            <h3 {% if message.tags %} class="{{message.tags}}" {% endif %}>{{message}}</h3>
        {% endfor %}
    {% endif %}
    <a href="{% url 'login_form' %}">LogIn</a>

    <script>
        function myFunction() {
            var x = document.getElementById("id_password1");
            var y = document.getElementById("id_password2");
            if (x.type === "password" && y.type === "password") {
              x.type = "text";
              y.type = "text";
            } else {
              x.type = "password";
              y.type = "password";
            }
          }
    </script>
</body>
</html>