{% extends 'blog/base.html' %}
{% load static %}

    {% block title %}profile{% endblock title %}


{% block content %}
        {% if messages %}
            {% for message in messages %}
                <div {% if message.tags %} class="alert alert-{{message.tags}} {% endif %} alert-dismissible fade show" role="alert">
                    <strong>Message:</strong> {{message}}.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}
        <!-- Container start! -->
        <div class="container mt-3">
            <div class="row justify-content-center">
                <div class="col-md-5">
                <h1 class="lead display-6  text-center p-2">Delete account</h1><hr>
                </div>
                <div>
                    <h3>Are you sure? You want to delete your account!</h3>
                    {% comment %} <a href="{% url 'delete' request.user.email %}" class="btn btn-danger">Delete Account</a> {% endcomment %}
                    <a href="{% url 'home' %}" class="btn btn-danger btn-sm">Delete</a>
                    <a href="{% url 'home' %}" class="btn btn-outline-danger btn-sm">Cancel</a>
                </div>
            </div>
        </div>
        <!-- Container End! -->
{% endblock content %}


