{% extends 'blog/base.html' %}
{% load static %}

{% block title %}Forget Password{% endblock title %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center" style="max-width: 600px; min-height:600px;">
        <div class="row p-4 justify-content-center shadow border border-4 rounded">
            <div class="col-md-12">
                <div class="mb-3">
                    <h3>Forgot Password?</h3>
                    <small class="text-muted">Reset password in quick steps</small>
                </div>
                <!-- Form start -->
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" required>
                        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                    </div>
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary btn-sm">Reset password</button>
                        <a href="{% url 'signin' %}" class="text-center text-decoration-none">Back</a>
                    </div>
                </form>
                <!-- Form end -->
            </div>
        </div>
    </div>

{% endblock content %}
