{% extends 'blog/base.html' %}
{% load static %}

{% block title %}Set New Password{% endblock title %}

{% block content %}
    <div class="container d-flex justify-content-center align-items-center" style="max-width: 600px; min-height:600px;">
        <div class="row p-4 justify-content-center shadow border border-4 rounded">
            <div class="col-md-12">
                <div class="mb-3">
                    <h3>Forgot Password?</h3>
                    <small class="text-muted">Reset password in quick steps</small>
                </div>
                <!-- Form start -->
                <form action="" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="passwordInput" class="form-label">Password</label>
                        <input type="password" name="newPassword" class="form-control" id="newPassword1" aria-describedby="passwordHelp" required>
                    </div>
                    <div class="mb-3">
                        <label for="passwordInput2" class="form-label">Reconfirm-Password</label>
                        <input type="password" name="reconfirmPassword" class="form-control" id="newPassword2" aria-describedby="passwordHelp" required>
                    </div>
                    <input type="hidden" name="user_id" value="{{user_id}}">

                    <div class="form-check">
                        <input class="form-check-input" onclick="myFunction()" type="checkbox" value="" id="flexCheckDefault">
                        <label class="form-check-label" for="flexCheckDefault">
                          Show Password
                        </label>
                    </div>

                    <div class="d-grid gap-2 mt-3">
                        <button type="submit" class="btn btn-primary btn-sm">Submit</button>
                    </div>
                </form>
                <!-- Form end -->
            </div>
        </div>
    </div>

    {% comment %} Password Show Function Start {% endcomment %}
    <script>
        function myFunction() {
            var x = document.getElementById("newPassword1");
            var y = document.getElementById("newPassword2");
            if (x.type === "password" && y.type === "password") {
            x.type = "text";
            y.type = "text";
            } else {
            x.type = "password";
            y.type = "password";
            }
        }
    </script>
    {% comment %} Password Show Function End {% endcomment %}

{% endblock content %}
