{% extends 'blog/base.html' %}
{% load static %}


{% block title %}Machine Learning-Blog{% endblock title %}
  <!-- content start -->
{% block content %}
  <main>
      <div class="container-fluid" style="background-color: #F3F4F6;">
        <div class="container">
          <div class="row">
            <div class="col my-3 p-2 bg-body shadow rounded">
              <h2 style="font-family: 'Secular One', sans-serif;"><a href="#" target="_blank" rel="noopener noreferrer" class="text-decoration-none text-dark">Basic Python Syntax</a></h2>
              <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi voluptas minus laboriosam quos debitis rerum nam et consequatur, doloribus quod repellat a, distinctio perferendis voluptatum modi molestiae saepe consectetur quis.</p>
              <a href="http://" target="_blank" rel="noopener noreferrer" class="btn btn-outline-danger btn-sm mb-2">Read more</a>
            </div>
            <hr>
          </div>
          <div class="row">
            <div class="col my-3 p-2 bg-body shadow rounded">
              <h2 style="font-family: 'Secular One', sans-serif;"><a href="#" target="_blank" rel="noopener noreferrer" class="text-decoration-none text-dark">Basic Python Syntax</a></h2>
              <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi voluptas minus laboriosam quos debitis rerum nam et consequatur, doloribus quod repellat a, distinctio perferendis voluptatum modi molestiae saepe consectetur quis.</p>
              <a href="http://" target="_blank" rel="noopener noreferrer" class="btn btn-outline-danger btn-sm mb-2">Read more</a>
            </div>
            <hr>
          </div>
          <div class="row">
            <div class="col my-3 p-2 bg-body shadow rounded">
              <h2 style="font-family: 'Secular One', sans-serif;"><a href="#" target="_blank" rel="noopener noreferrer" class="text-decoration-none text-dark">Python Comments</a></h2>
              <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi voluptas minus laboriosam quos debitis rerum nam et consequatur, doloribus quod repellat a, distinctio perferendis voluptatum modi molestiae saepe consectetur quis.</p>
              <a href="http://" target="_blank" rel="noopener noreferrer" class="btn btn-outline-danger btn-sm mb-2">Read more</a>
            </div>
            <hr>
          </div>
          <div class="row">
            <div class="col my-3 p-2 bg-body shadow rounded">
              <h2 style="font-family: 'Secular One', sans-serif;"><a href="#" target="_blank" rel="noopener noreferrer" class="text-decoration-none text-dark">Python Variables</a></h2>
              <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi voluptas minus laboriosam quos debitis rerum nam et consequatur, doloribus quod repellat a, distinctio perferendis voluptatum modi molestiae saepe consectetur quis.</p>
              <a href="http://" target="_blank" rel="noopener noreferrer" class="btn btn-outline-danger btn-sm mb-2">Read more</a>
            </div>
            <hr>
          </div>
          <div class="row">
            <div class="col my-3 p-2 bg-body shadow rounded">
              <h2 style="font-family: 'Secular One', sans-serif;"><a href="#" target="_blank" rel="noopener noreferrer" class="text-decoration-none text-dark">Python DataTypes</a></h2>
              <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi voluptas minus laboriosam quos debitis rerum nam et consequatur, doloribus quod repellat a, distinctio perferendis voluptatum modi molestiae saepe consectetur quis.</p>
              <a href="http://" target="_blank" rel="noopener noreferrer" class="btn btn-outline-danger btn-sm mb-2">Read more</a>
            </div>
            <hr>
          </div>
          <div class="row">
            <div class="col my-3 p-2 bg-body shadow rounded">
              <h2 style="font-family: 'Secular One', sans-serif;"><a href="#" target="_blank" rel="noopener noreferrer" class="text-decoration-none text-dark">Python Numbers</a></h2>
              <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi voluptas minus laboriosam quos debitis rerum nam et consequatur, doloribus quod repellat a, distinctio perferendis voluptatum modi molestiae saepe consectetur quis.</p>
              <a href="http://" target="_blank" rel="noopener noreferrer" class="btn btn-outline-danger btn-sm mb-2">Read more</a>
            </div>
            <hr>
          </div>
          <div class="row">
            <div class="col my-3 p-2 bg-body shadow rounded">
              <h2 style="font-family: 'Secular One', sans-serif;"><a href="#" target="_blank" rel="noopener noreferrer" class="text-decoration-none text-dark">Python Casting</a></h2>
              <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi voluptas minus laboriosam quos debitis rerum nam et consequatur, doloribus quod repellat a, distinctio perferendis voluptatum modi molestiae saepe consectetur quis.</p>
              <a href="http://" target="_blank" rel="noopener noreferrer" class="btn btn-outline-danger btn-sm mb-2">Read more</a>
            </div>
            <hr>
          </div>
          <div class="row">
            <div class="col my-3 p-2 bg-body shadow rounded">
              <h2 style="font-family: 'Secular One', sans-serif;"><a href="#" target="_blank" rel="noopener noreferrer" class="text-decoration-none text-dark">Python Strings</a></h2>
              <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi voluptas minus laboriosam quos debitis rerum nam et consequatur, doloribus quod repellat a, distinctio perferendis voluptatum modi molestiae saepe consectetur quis.</p>
              <a href="http://" target="_blank" rel="noopener noreferrer" class="btn btn-outline-danger btn-sm mb-2">Read more</a>
            </div>
            <hr>
          </div>
          <div class="row">
            <div class="col my-3 p-2 bg-body shadow rounded">
              <h2 style="font-family: 'Secular One', sans-serif;"><a href="#" target="_blank" rel="noopener noreferrer" class="text-decoration-none text-dark">Python Operators</a></h2>
              <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi voluptas minus laboriosam quos debitis rerum nam et consequatur, doloribus quod repellat a, distinctio perferendis voluptatum modi molestiae saepe consectetur quis.</p>
              <a href="http://" target="_blank" rel="noopener noreferrer" class="btn btn-outline-danger btn-sm mb-2">Read more</a>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-8">
              <nav aria-label="" class="ml-0">
                <ul class="pagination">
                  <li class="page-item disabled">
                    <span class="page-link">Previous</span>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item active" aria-current="page">
                    <span class="page-link">2</span>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>

        </div>
      </div>
  </main>
  <hr>
{% endblock content %}
  <!-- content end-->
